@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Noto+Naskh+Arabic&display=swap");

$fontAr: "Noto Naskh Arabic", serif;
$fontEn: "Kanit", sans-serif;

$black: #000000;
$black2: #0e0e0e;

$white: #ffffff;
$white2: #bdbdbd;

$grey: #aaaaaa;
$grey2: #8d8d8d;
$grey3: #444444;

$blue: #0057ff;
$blue2: #0084ff;

$red: #f81212;
